{%load static%}
<header class="header clearfix">
  <button type="button" id="toggleMenu" class="toggle_menu">
    <i class='uil uil-bars'></i>
  </button>
 
  <div class="main_logo" id="logo">
    <a  href="{% url 'index' %}"><img src="{{ topconfs.logo_normal.url}}" alt=""></a>
   
  </div>
  <div class="top-category">
    <div class="ui compact menu cate-dpdwn">
      <div class="ui simple dropdown item">
        <a href="#" class="option_links p-0" title="categories"><i class="uil uil-apps"></i></a>
        <div class="menu dropdown_category5">
          <a href="#" class="item channel_item">Development</a>
          <a href="#" class="item channel_item">Business</a>
          <a href="#" class="item channel_item">Finance & Accounting</a>
          <a href="#" class="item channel_item">IT & Software</a>
          <a href="#" class="item channel_item">Office Productivity</a>
          <a href="#" class="item channel_item">Personal Development</a>
          <a href="#" class="item channel_item">Design</a>
          <a href="#" class="item channel_item">Marketing</a>
          <a href="#" class="item channel_item">Lifestyle</a>
          <a href="#" class="item channel_item">Photography</a>
          <a href="#" class="item channel_item">Health & Fitness</a>
          <a href="#" class="item channel_item">Music</a>
          <a href="#" class="item channel_item">Teaching & Academics</a>
        </div>
      </div>
    </div>
  </div>
  <div class="search120">
    <div class="ui search">
      <div class="ui left icon input swdh10">
      <input class="prompt srch10" type="text" placeholder="Search for Tuts Videos, Tutors, Tests and more..">
      <i class='uil uil-search-alt icon icon1'></i>
      </div>
    </div>
  </div>
  <div class="header_right">
    <ul>
      <li>
        <a href="create_new_serie.html" class="upload_btn" title="Create New serie">Create New serie</a>
      </li>
      <li>
        <a href="shopping_cart.html" class="option_links" title="cart"><i class='uil uil-shopping-cart-alt'></i><span class="noti_count">2</span></a>
      </li>
      <li class="ui dropdown">
        <a href="#" class="option_links" title="Messages"><i class='uil uil-envelope-alt'></i><span class="noti_count">3</span></a>
        <div class="menu dropdown_ms">
          <a href="#" class="channel_my item">
            <div class="profile_link">
              <img src="images/left-imgs/img-6.jpg" alt="">
              <div class="pd_content">
                <h6>Zoena Singh</h6>
                <p>Hi! Sir, How are you. I ask you one thing please explain it this video price.</p>
                <span class="nm_time">2 min ago</span>
              </div>							
            </div>							
          </a>
          <a href="#" class="channel_my item">
            <div class="profile_link">
              <img src="images/left-imgs/img-5.jpg" alt="">
              <div class="pd_content">
                <h6>Joy Dua</h6>
                <p>Hello, I paid you video tutorial but did not play error 404.</p>
                <span class="nm_time">10 min ago</span>
              </div>							
            </div>							
          </a>
          <a href="#" class="channel_my item">
            <div class="profile_link">
              <img src="images/left-imgs/img-8.jpg" alt="">
              <div class="pd_content">
                <h6>Jass</h6>
                <p>Thanks Sir, Such a nice video.</p>
                <span class="nm_time">25 min ago</span>
              </div>							
            </div>							
          </a>
          <a class="vbm_btn" href="instructor_messages.html">View All <i class='uil uil-arrow-right'></i></a>
        </div>
      </li>
      <li class="ui dropdown">
        <a href="#" class="option_links" title="Notifications"><i class='uil uil-bell'></i><span class="noti_count">3</span></a>
        <div class="menu dropdown_mn">
          <a href="#" class="channel_my item">
            <div class="profile_link">
              <img src="images/left-imgs/img-1.jpg" alt="">
              <div class="pd_content">
                <h6>Rock William</h6>
                <p>Like Your Comment On Video <strong>How to create sidebar menu</strong>.</p>
                <span class="nm_time">2 min ago</span>
              </div>							
            </div>							
          </a>
          <a href="#" class="channel_my item">
            <div class="profile_link">
              <img src="images/left-imgs/img-2.jpg" alt="">
              <div class="pd_content">
                <h6>Jassica Smith</h6>
                <p>Added New Review In Video <strong>Full Stack PHP Developer</strong>.</p>
                <span class="nm_time">12 min ago</span>
              </div>							
            </div>							
          </a>
          <a href="#" class="channel_my item">
            <div class="profile_link">
              <img src="images/left-imgs/img-9.jpg" alt="">
              <div class="pd_content">
                <p> Your Membership Approved <strong>Upload Video</strong>.</p>
                <span class="nm_time">20 min ago</span>
              </div>							
            </div>							
          </a>
          <a class="vbm_btn" href="instructor_notifications.html">View All <i class='uil uil-arrow-right'></i></a>
        </div>
      </li>
      <li class="ui dropdown">
        <a href="#" class="opts_account" title="Account">
          <img src="images/hd_dp.jpg" alt="">
        </a>
        <div class="menu dropdown_account">
          <div class="channel_my">
            <div class="profile_link">
              <img src="images/hd_dp.jpg" alt="">
              <div class="pd_content">
                <div class="rhte85">
                  <h6>Joginder Singh</h6>
                  <div class="mef78" title="Verify">
                    <i class='uil uil-check-circle'></i>
                  </div>
                </div>
                <span>gambol943@gmail.com</span>
              </div>							
            </div>
            <a href="my_instructor_profile_view.html" class="dp_link_12">View Instructor Profile</a>						
          </div>
          <div class="night_mode_switch__btn">
            <a href="#" id="night-mode" class="btn-night-mode">
              <i class="uil uil-moon"></i> Night mode
              <span class="btn-night-mode-switch">
                <span class="uk-switch-button"></span>
              </span>
            </a>
          </div>
          <a href="instructor_dashboard.html" class="item channel_item">Cursus dashboard</a>						
          <a href="membership.html" class="item channel_item">Paid Memberships</a>
          <a href="setting.html" class="item channel_item">Setting</a>
          <a href="help.html" class="item channel_item">Help</a>
          <a href="feedback.html" class="item channel_item">Send Feedback</a>
          <a href="sign_in.html" class="item channel_item">Sign Out</a>
        </div>
      </li>
    </ul>
  </div>
</header>
<!-- Header End -->