{% extends 'base.html' %}
{% load static %}
{% block title %}
Sıkça Sorulan Sorular
{% endblock %}
{% block content %}

<div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'images/breadcrumb.png'%}">
        <div class="container pt-70 pb-20">
          <!-- Section Content -->
          <div class="section-content">
            <div class="row">
              <div class="col-md-12">
                <h2 class="title text-white">
                 
            Sıkça Sorulan Sorular</h2>
                <ol class="breadcrumb text-left text-black mt-10">
                  <li ><a class="text-gray-silver" href="{% url 'index' %}">Anasayfa</a></li>
                  
                  <li  class="active text-gray-silver"><span style="color: wheat;">SSS </span></li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </section>
  
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <h2> Sıkça Sorulan Sorular</h2>
            <div id="accordion1" class="panel-group accordion transparent">
             {% for faq in faqs%}
                <div class="panel">
                <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion1{{faq.id}}"  aria-expanded="true"> <span class="open-sub"></span> <strong>{{faq.question}}</strong></a> </div>
                <div id="accordion1{{faq.id}}" class="panel-collapse collapse" role="tablist" aria-expanded="true">
                  <div class="panel-content">
                    <p>{{faq.answer}}</p> 
                  
                  </div>
                </div>
              </div>
              {% endfor %}
              
             
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- divider: what makes us different -->
    <section class="divider parallax layer-overlay overlay-white-9" data-parallax-ratio="0.1" data-bg-img="http://placehold.it/1920x1280">
      <div class="container">
        <div class="section-content text-center">
          <div class="row">
            <div class="col-md-12">
              <h3 class="mt-0">Yanıtınızı Bulamadınız mı?</h3>
              <h2> <span class="text-theme-color-2">{{topconfs.telephone }}</span> 'u arayarak bize ulaşın! </h2>
              <h4>ya da <a href="{% url 'help' %}"><strong>Yardım Talebi</strong></a> sayfasından istekte bulunun.  </h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->

{% endblock %}