{% extends 'base.html' %}
{% load static %}
{% block title %}

{{page.title}}
{% endblock %}
{% block stilist%}

<style>
  .reppr {
    margin-left: 0px!important;
  }
</style>
{% endblock %}
{% block content %}
<div class="wrapper _bg4586 _new89 reppr">		
  <div class="_215cd2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">						
          
          <div class="title129 mt-35 mb-35">	
            <h2>{{page.title}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="_215td5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title589 text-center">
            {{ page.content|safe}}
          </div>
        </div>
       
      </div>
    </div>
  </div>
 

  
  <!-- end main-content -->

{% endblock %}